*{
  font-color: white;
  font-size: 16px;
  Background-image: url(http://cdn23.us1.fansshare.com/photos/320x480/center-swirl-blue-fractal-wallpaper-png-normal-png-1805255254.jpg) center scroll;
  
  
}

h1{

}

p1{

}

td{
  color: #0033cc;
  border: white 1px;
}
.button {
    background-color: #00b300; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

