*{font-family: "Raleway", sans-serif;
  font-color: white;
  font-size: 16px;
  
}

.header{background-image: url(https://static1.squarespace.com/static/56ab82d789a60a49487e0dc8/t/5846d710d482e959dc7c1ad5/1481037587202/energy+banner.jpg?format=1500w);
    text-align: center;
    padding: 20px;
}

.body{
 Background-image: url(https://drive.google.com/drive/my-drive) center scroll;
  Border-color: red;
  Border-radius: 12px;
  border-width: 2px;
}

.h1{
  font-color: blue;

}

p1{
font-color: blue;

}

td{
  color: gray;
  border: white 1px;
}
.button {
    background-color: #00b300; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

